{% extends 'base.twig' %}

{% block body %}
<main class="pb-14">
    <div class="box-container">
        <div class="page-title mt-7">
            <h1 class="text-2xl font-semibold">Сменить пароль</h1>
            <ul class="breadcrumb text-sm flex items-center mt-2">
                <li><a href="/" class="text-blue-600 hover:text-blue-800 transition-all duration-300">Главная</a>&nbsp;/&nbsp;</li>
                <li><a href="/profile" class="text-blue-600 hover:text-blue-800 transition-all duration-300">Профиль</a>&nbsp;/&nbsp;</li>
                <li>Сменить пароль</li>
            </ul>

            <div class="page-block">
                <form class="profile-block mt-8">
                    <div class="input-block flex flex-col w-72 mt-3">
                        <label for="curr-password" class="text-sm font-semibold">Текущий пароль</label>
                        <input type="password" name="curr-password" id="curr-password" class="border border-gray-400 mt-2 h-10 rounded px-3" placeholder="******">
                        <p class="hint text-xs mt-1 text-red-500 hidden">Не верный пароль</p>
                    </div>
                    <!--/.input-block-->

                    <div class="input-block flex flex-col w-72 mt-3">
                        <label for="new-password" class="text-sm font-semibold">Новый пароль</label>
                        <input type="password" name="new-password" id="new-password" class="border border-gray-400 mt-2 h-10 rounded px-3" placeholder="******">
                        <p class="hint text-xs mt-1 text-red-500 hidden">Пароль должен быть не менее 5 символов</p>
                    </div>
                    <!--/.input-block-->

                    <div class="input-block flex flex-col w-72 mt-3">
                        <label for="repeat-password" class="text-sm font-semibold">Повторите пароль</label>
                        <input type="password" name="repeat-password" id="repeat-password" class="border border-gray-400 mt-2 h-10 rounded px-3" placeholder="******">
                        <p class="hint text-xs mt-1 text-red-500 hidden">Пароли не совпадают!</p>
                    </div>
                    <!--/.input-block-->

                    <input type="submit" class="mt-8 px-4 bg-blue-800 text-white h-9 rounded hover:bg-blue-600 transition-all duration-300" id="update-password" value="Сохранить">
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}