<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/img/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/assets/style.css">
    <title>ЛК Метра | Ошибка восстановления!</title>
</head>
<body>
<div class="w-full h-full absolute top-0 left-0 flex justify-center items-center">
    <div class="info-register-block flex flex-col items-center">
        <img src="/assets/img/logo-b.svg" class="w-48" alt="">
        <div class="info-register-block__line mt-10 flex items-center">
            <img src="/assets/img/await.svg" alt="">
            <p class="ml-9 text-base">Внимание! Вход в диллерский кабинет ограничен!<br>Возможно вы не авторизованы,<br>или получили ограничение по другим причинам</p>
        </div>
        <a href="/">
            <button class="mt-8 px-4 bg-blue-600 text-white h-10 rounded hover:bg-blue-800 transition-all duration-300">Назад</button>
        </a>
    </div>
</div>
</body>
</html>