<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/assets/js/owl-carousel/owl.carousel.min.js"></script>
<script src="/assets/js/main.js?ver=789"></script>
<script src="/assets/js/fancy-box/fancybox.umd.js"></script>
<script>
    Fancybox.bind("[data-fancybox]", {
        // Your custom options
    });
</script>
</body>
</html>