{% extends 'base.twig' %}

{% block body %}

<main class="pb-14">
    <div class="box-container">
        <div class="banner-block mt-5 owl-carousel">
            <div class="banner-item">
                <img src="/assets/img/baner.png" alt="">
                <div class="banner-item__text-wrapper">
                    <div class="banner-item__text-block">
                        <div class="banner-item__text text-white">
                            <h2 class="text-2xl">Внимание дилеров!</h2>
                            <p class="text-sm mt-2">Обновление модельного ряда Весов Кочевник</p>
                        </div>

                        <a href="#" class="info-banner-btn">
                            <button>Ознакомиться</button>
                        </a>
                    </div>
                </div>

            </div>

            <div class="banner-item">
                <img src="/assets/img/baner.png" alt="">
                <div class="banner-item__text-wrapper">
                    <div class="banner-item__text-block">
                        <div class="banner-item__text text-white">
                            <h2 class="text-2xl">Внимание дилеров!</h2>
                            <p class="text-sm mt-2">Обновление модельного ряда Весов Кочевник</p>
                        </div>

                        <a href="#" class="info-banner-btn">
                            <button>Ознакомиться</button>
                        </a>
                    </div>
                </div>

            </div>

            <div class="banner-item">
                <img src="/assets/img/baner.png" alt="">
                <div class="banner-item__text-wrapper">
                    <div class="banner-item__text-block">
                        <div class="banner-item__text text-white">
                            <h2 class="text-2xl">Внимание дилеров!</h2>
                            <p class="text-sm mt-2">Обновление модельного ряда Весов Кочевник</p>
                        </div>

                        <a href="#" class="info-banner-btn">
                            <button>Ознакомиться</button>
                        </a>
                    </div>
                </div>

            </div>

            <div class="banner-item">
                <img src="/assets/img/baner.png" alt="">
                <div class="banner-item__text-wrapper">
                    <div class="banner-item__text-block">
                        <div class="banner-item__text text-white">
                            <h2 class="text-2xl">Внимание дилеров!</h2>
                            <p class="text-sm mt-2">Обновление модельного ряда Весов Кочевник</p>
                        </div>

                        <a href="#" class="info-banner-btn">
                            <button>Ознакомиться</button>
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="dealer-policy mt-6">
            <h2 class="text-lg font-semibold">Дилерская политика</h2>
            <p class="mt-4 text-sm">Уважаемые дилеры скачать дилерскую политику вы можете по ссылке ниже.</p>
            <a href="#" class="dealer-policy-link flex items-center text-blue-600 mt-4 hover:text-blue-800 transition-all duration-300">
                <img src="/assets/img/files/pdf.svg" class="w-8" alt="">
                <p class="text-sm ml-4">Дилерская политика</p>
            </a>
        </div>

        <section class="news-block mt-8">
            <div class="section-title">
                <h2 class="text-lg font-semibold">Последние новости</h2>
                <a href="#" class="flex mt-1 text-blue-600 text-sm hover:text-blue-800 transition-all duration-300">Смотреть все новости</a>
            </div>
            <div class="section-wrapper mt-5 flex items-center space-x-12">
                <a href="#">
                    <div class="section-item w-64 section-item-height border border-gray-300 rounded">
                        <div class="section-item__img w-full h-44 rounded overflow-hidden">
                            <img src="/assets/img/news-1.jpg" alt="" class="object-cover w-full h-full">
                        </div>
                        <div class="section-item__text p-4">
                            <p class="text-sm">05.05.2023</p>
                            <h3 class="mt-2 text-sm font-semibold">Тестовая новость</h3>
                            <p class="mt-2 text-sm">Краткое описание новости, в котором раскрывается основная суть</p>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="section-item w-64 section-item-height border border-gray-300 rounded">
                        <div class="section-item__img w-full h-44 rounded overflow-hidden">
                            <img src="/assets/img/news-2.jpg" alt="" class="object-cover w-full h-full">
                        </div>
                        <div class="section-item__text p-4">
                            <p class="text-sm">05.05.2023</p>
                            <h3 class="mt-2 text-sm font-semibold">Тестовая новость</h3>
                            <p class="mt-2 text-sm">Краткое описание новости, в котором раскрывается основная суть</p>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="section-item w-64 section-item-height border border-gray-300 rounded">
                        <div class="section-item__img w-full h-44 rounded overflow-hidden">
                            <img src="/assets/img/news-1.jpg" alt="" class="object-cover w-full h-full">
                        </div>
                        <div class="section-item__text p-4">
                            <p class="text-sm">05.05.2023</p>
                            <h3 class="mt-2 text-sm font-semibold">Тестовая новость</h3>
                            <p class="mt-2 text-sm">Краткое описание новости, в котором раскрывается основная суть</p>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="section-item w-64 section-item-height border border-gray-300 rounded">
                        <div class="section-item__img w-full h-44 rounded overflow-hidden">
                            <img src="/assets/img/news-2.jpg" alt="" class="object-cover w-full h-full">
                        </div>
                        <div class="section-item__text p-4">
                            <p class="text-sm">05.05.2023</p>
                            <h3 class="mt-2 text-sm font-semibold">Тестовая новость</h3>
                            <p class="mt-2 text-sm">Краткое описание новости, в котором раскрывается основная суть</p>
                        </div>
                    </div>
                </a>
            </div>
        </section>

        <section class="vebinar-block mt-8">
            <div class="section-title">
                <h2 class="text-lg font-semibold">Последние новости</h2>
                <a href="#" class="flex mt-1 text-blue-600 text-sm hover:text-blue-800 transition-all duration-300">Смотреть все новости</a>
            </div>
            <div class="section-wrapper mt-5 flex items-center space-x-12">
                <a href="#">
                    <div class="section-item w-64 h-72 border border-gray-300 rounded">
                        <div class="section-item__img w-full h-44 rounded overflow-hidden">
                            <img src="/assets/img/vebinar-prev.png" alt="" class="object-cover w-full h-full">
                        </div>
                        <div class="section-item__text p-4">
                            <p class="text-sm">05.05.2023</p>
                            <h3 class="mt-2 text-sm font-semibold">Вебинар 1</h3>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="section-item w-64 h-72 border border-gray-300 rounded">
                        <div class="section-item__img w-full h-44 rounded overflow-hidden">
                            <img src="/assets/img/vebinar-prev.png" alt="" class="object-cover w-full h-full">
                        </div>
                        <div class="section-item__text p-4">
                            <p class="text-sm">05.05.2023</p>
                            <h3 class="mt-2 text-sm font-semibold">Вебинар 1</h3>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="section-item w-64 h-72 border border-gray-300 rounded">
                        <div class="section-item__img w-full h-44 rounded overflow-hidden">
                            <img src="/assets/img/vebinar-prev.png" alt="" class="object-cover w-full h-full">
                        </div>
                        <div class="section-item__text p-4">
                            <p class="text-sm">05.05.2023</p>
                            <h3 class="mt-2 text-sm font-semibold">Вебинар 1</h3>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="section-item w-64 h-72 border border-gray-300 rounded">
                        <div class="section-item__img w-full h-44 rounded overflow-hidden">
                            <img src="/assets/img/vebinar-prev.png" alt="" class="object-cover w-full h-full">
                        </div>
                        <div class="section-item__text p-4">
                            <p class="text-sm">05.05.2023</p>
                            <h3 class="mt-2 text-sm font-semibold">Вебинар 1</h3>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </div>
</main>

{% endblock %}