<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/img/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/assets/style.css">
    <title>ЛК Метра | Забыли пароль</title>
</head>
<body>
<div class="form-wrapper w-full h-full absolute top-0 left-0 flex justify-center items-center">
    <form action="/restore-request" method="post" class="auth flex flex-col justify-center items-center w-72 m-auto">
        <h1 class="text-xl font-semibold mt-5">Восстановление пароля</h1>
        <p class="mt-2 text-sm text-center">На указанную почту придет письмо с инструкцией</p>

        <div class="input-block flex flex-col w-72 mt-2 {{ err_class }}">
            <input type="text" name="mail" id="login" class="border border-gray-400 mt-1 h-10 rounded px-3" placeholder="example@example.com" autocomplete="username">
            <p class="hint text-xs mt-1 text-red-500 hidden">Ошибка! Пользователя с данной почтой не существует!</p>
        </div>
        <!--/.input-block-->

        <div class="form-flex flex mt-6 justify-center w-full items-center">
            <input type="submit" value="Восстановить пароль" class="px-4 bg-blue-600 text-white h-9 rounded hover:bg-blue-800 transition-all duration-300 cursor-pointer">
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/assets/js/owl-carousel/owl.carousel.min.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>